# handlers/main.yml

- name: update hostname
  command: "hostname {{ pi_hostname }}"

- name: delete dhcp leases
  file:
    path: /var/lib/dhcp/dhclient.leases
    state: absent
  with_items:
    - /var/lib/dhcp/dhclient.leases
    - /var/lib/dhcpcd5/dhcpcd-eth0.lease

- name: reboot
  command: shutdown -r now
  async: 0
  poll: 0
  ignore_errors: True
  notify:
    - wait for reboot

- name: wait for reboot
  local_action:
    wait_for host={{ inventory_hostname }}
    state=started
    # doesn't appear to work correctly now, instead a
    # simple delay is imposed - that's fine for now
    timeout=30
  sudo: false
